In [7]:
import pandas as pd 
def analizar_peliculas():
    
    df = pd.read_csv('movies_metadata.csv')
    df = df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
    df = df[df['revenue'] > 2000000 & (df['budget'] < 1000000)].reset_index(drop = True)
    return df
analizar_peliculas()

                             title release_date    budget    revenue  runtime
0                        Toy Story   1995-10-30  30000000  373554033     81.0
1                          Jumanji   1995-12-15  65000000  262797249    104.0
2                Waiting to Exhale   1995-12-22  16000000   81452156    127.0
3      Father of the Bride Part II   1995-02-10         0   76578911    106.0
4                             Heat   1995-12-15  60000000  187436818    170.0
5                     Sudden Death   1995-12-22  35000000   64350171    106.0
6                        GoldenEye   1995-11-16  58000000  352194034    130.0
7           The American President   1995-11-17  62000000  107879496    106.0
8                            Balto   1995-12-22         0   11348324     78.0
9                            Nixon   1995-12-22  44000000   13681765    192.0
10                Cutthroat Island   1995-12-22  98000000   10017322    119.0
11                          Casino   1995-11-22  52000000  116112375    178.0
12           Sense and Sensibility   1995-12-13  16500000  135000000    136.0
13                      Four Rooms   1995-12-09   4000000    4300000     98.0
14  Ace Ventura: When Nature Calls   1995-11-10  30000000  212385533     90.0
15                     Money Train   1995-11-21  60000000   35431113    103.0
16                      Get Shorty   1995-10-20  30250000  115101622    105.0
17                       Assassins   1995-10-06  50000000   30303072    132.0
18               Leaving Las Vegas   1995-10-27   3600000   49800000    112.0
19                    Now and Then   1995-10-20  12000000   27400000    100.0
20       The City of Lost Children   1995-05-16  18000000    1738611    108.0
21                 Dangerous Minds   1995-08-11         0  180000000     99.0
22                  Twelve Monkeys   1995-12-29  29500000  168840000    129.0
23                            Babe   1995-07-18  30000000  254134910     89.0
24                Dead Man Walking   1995-12-29  11000000   39363635    122.0
25        Cry, the Beloved Country   1995-12-15         0     676525    106.0
26                   Mortal Kombat   1995-08-18  18000000  122195920    101.0
27                      To Die For   1995-05-20  20000000   21284514    106.0
28   How To Make An American Quilt   1995-10-06  10000000   23574130    116.0
29                           Se7en   1995-09-22  33000000  327311859    127.0
30                      Pocahontas   1995-06-14  55000000  346079773     81.0
31              The Usual Suspects   1995-07-19   6000000   23341568    106.0